
.container{
	width: 100vw;
	height: 75vh;
	background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);
}
body{
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

}


.three-d-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
}

.three-d-button:hover {
    background-color: #2980b9;
}

.three-d-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    transform: perspective(5px) rotateX(-2deg);
    transition: transform 0.3s;
}

.three-d-button:hover:before {
    transform: perspective(5px) rotateX(-70deg);
}

/* Add other styles as needed */
