<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Adspace</servlet-name>
  	<display-name>Adspace</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.Adspace</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpCtl</servlet-name>
  	<display-name>SignUpCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.SignUpCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCtl</servlet-name>
  	<display-name>LoginCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.LoginCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeCtl</servlet-name>
  	<display-name>WelcomeCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.WelcomeCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSpaceCtl</servlet-name>
  	<display-name>AddSpaceCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.AddSpaceCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewSpaceCtl</servlet-name>
  	<display-name>ViewSpaceCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.ViewSpaceCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookSpaceCtl</servlet-name>
  	<display-name>BookSpaceCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.BookSpaceCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBookingCtl</servlet-name>
  	<display-name>ViewBookingCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.ViewBookingCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAllBooking</servlet-name>
  	<display-name>ViewAllBooking</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.ViewAllBooking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSpaceCtl</servlet-name>
  	<display-name>DeleteSpaceCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.DeleteSpaceCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBookingCtl</servlet-name>
  	<display-name>DeleteBookingCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.DeleteBookingCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelBookingCtl</servlet-name>
  	<display-name>CancelBookingCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.CancelBookingCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmBookingCtl</servlet-name>
  	<display-name>ConfirmBookingCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.ConfirmBookingCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentCtl</servlet-name>
  	<display-name>PaymentCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.PaymentCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPaymentCtl</servlet-name>
  	<display-name>ViewPaymentCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.ViewPaymentCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewConfirmBookinhCtl</servlet-name>
  	<display-name>ViewConfirmBookinhCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.adspace.ctl.ViewConfirmBookinhCtl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Adspace</servlet-name>
  	<url-pattern>/Adspace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpCtl</servlet-name>
  	<url-pattern>/SignUpCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCtl</servlet-name>
  	<url-pattern>/LoginCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeCtl</servlet-name>
  	<url-pattern>/WelcomeCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSpaceCtl</servlet-name>
  	<url-pattern>/AddSpaceCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewSpaceCtl</servlet-name>
  	<url-pattern>/ViewSpaceCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookSpaceCtl</servlet-name>
  	<url-pattern>/BookSpaceCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBookingCtl</servlet-name>
  	<url-pattern>/ViewBookingCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllBooking</servlet-name>
  	<url-pattern>/ViewAllBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSpaceCtl</servlet-name>
  	<url-pattern>/DeleteSpaceCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBookingCtl</servlet-name>
  	<url-pattern>/DeleteBookingCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelBookingCtl</servlet-name>
  	<url-pattern>/CancelBookingCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmBookingCtl</servlet-name>
  	<url-pattern>/ConfirmBookingCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentCtl</servlet-name>
  	<url-pattern>/PaymentCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPaymentCtl</servlet-name>
  	<url-pattern>/ViewPaymentCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewConfirmBookinhCtl</servlet-name>
  	<url-pattern>/ViewConfirmBookinhCtl</url-pattern>
  </servlet-mapping>
</web-app>
